body {
  min-height: 100vh;
  background-color: #f7f8f9;
  padding: 41px 50px 0;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}
.inn-badge .v-chip__underlay {
  color: white;
  background: unset;
}
.v-chip__overlay {
  background-color: currentColor;
  opacity: 0.12 !important;
}
.v-field {
  background-color: #E8F1F4;
}
.v-checkbox .v-selection-control {
  --v-input-control-height: 0;
}
.v-btn .v-btn__content {
  white-space: unset;
}